@import "variables";
@import "basecoat";

@import url('https://fonts.googleapis.com/css?family=Eczar');

//adhoc styles

.text-center {
  text-align: center;
}

.site-header-contents {
  padding-top: 30px;
  padding-bottom: 18px;
  line-height: 1.75em;
  p a {
    color: $text-color;
    font-weight: 700;
    &:hover {
      border-bottom: 0px;
    }
  }
  .site-title-name {
    font-size: 24px;
    font-weight: 700;
  }
}


.link-box {
  background-color: $white;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 26px;
  padding: 22px 15px 6px 15px;

  h3 {
    font-size: 22px;
  }
}
ul.links {
  list-style-type: none;
  margin-left: 0;
  & > li {
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 3px;
  }
  a {
    color: $text-color;
    font-size: 24px;
    font-weight: 700;
  }
}

.footer-word {
  color: $purple-0;
  padding-top: 10px;
  padding-bottom: 40px;
}
