@charset "utf-8";

@import "reset";
@import "variables";

$grey-txt: #9d9d9c;

/**
GENERAL
**/

* { 
  font-family: 'Spoqa Han Sans', 'Sans-serif'; 
}

#wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  color: #000;
}

h1 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}

ul li {
  font-size: 1.4em;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer {
  background-color: #eee;
}

#main {
  .poster-text {
    font-size: 2em;
    line-height: 1.7em;
    color: $grey-txt;
  }
  a.artist-name {
    background-color: #fff;
    border-radius: 2px;
    padding: 3px 4px 0px 4px;
    margin-right: 1px;
    text-decoration: none;
    &:hover {
      background-color: #eee;      
    }
  }
}  

#artists {
  background-color: #eee;
  .one-artist {
    width: 50%;
  }
}

#exhibition-info {
  font-size: 1.4em;
  line-height: 1.7em;
}