@charset "utf-8";


@import "reset";
@import "variables";

body {
  background-color: black;
  color: white;
}

header {
  background-color: black;
  border-bottom: 1px solid #313131;  
  display: fixed;
  height: 16px;
  padding: 30px;
}

a {
  color: white;
}

.section {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 50px;
}

h1.title { 
  font-size: 80px;
}

p.explanation {
  font-size: 28px;
}