@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**********************
GENERAL
**********************/
* {
  font-family: "Spoqa Han Sans","Source Sans Pro",Apple SD Gothic Neo,Nanum Barun Gothic,Nanum Gothic,"돋움",Dotum,Verdana,Arial,sans-serif;
  color: #706f6f; }

.text-bold {
  font-weight: 700; }

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5%; }

a {
  color: #706f6f;
  transition: 0.2s ease; }

h1 {
  font-size: 3em; }

h3 {
  font-size: 2em; }

p {
  font-size: 0.8em;
  line-height: 1.8em; }

.exhibition-intro p {
  margin-bottom: 20px; }

ol li, ul li {
  font-size: 1.4em;
  display: inline-block;
  line-height: 1.6em; }

section {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 90px;
  margin-bottom: 90px; }

.section-title {
  font-size: 44px;
  font-weight: 100;
  margin-bottom: 50px; }

.hr {
  width: 100%;
  height: 1px;
  background-color: #d0d0d0; }

/**********************
NAVIGATION
**********************/
nav {
  padding-top: 34px;
  padding-bottom: 14px;
  z-index: 1100;
  top: 0;
  position: fixed;
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98); }
  nav #logo {
    text-decoration: none; }
  nav h1 {
    margin-bottom: 20px; }
  nav .site-title {
    font-size: 1.2em;
    display: inline-block;
    margin-top: 4px; }
  nav .exhibition-info-title {
    color: #d0d0d0; }
  nav ul.nav-menu {
    display: inline-block;
    float: right;
    font-size: 0.8em; }
    nav ul.nav-menu li {
      padding: 0px 6px; }
    nav ul.nav-menu a {
      text-decoration: none;
      padding: 8px 10px; }
      nav ul.nav-menu a:hover {
        color: #fff;
        background-color: #c652b4;
        font-weight: bolder; }

footer {
  border-top: 1px solid rgba(208, 208, 208, 0.2);
  padding-top: 60px;
  padding-bottom: 60px;
  bottom: 0;
  color: #d0d0d0;
  margin-top: 60px;
  background-color: #fdfdfd; }
  footer h6 {
    font-weight: 700;
    margin-bottom: 12px; }
  footer a {
    line-height: 26px;
    color: #c652b4; }
    footer a:hover {
      color: #c652b4;
      text-decoration: none; }

#map {
  width: 100%;
  height: 300px;
  background-color: grey; }

.bg {
  /**
  width: 100%;
  display: block;
  height: 100%;
  mix-blend-mode: darken;
  opacity: 0.5;
  **/
  position: fixed;
  z-index: 10;
  background: url("/img/pttrn.svg");
  background-size: 700px 700px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  mix-blend-mode: multiply; }

a.artist-name {
  background-color: #fff;
  border-radius: 3px;
  padding: 3px 4px 0px 4px;
  margin-right: 1px;
  text-decoration: none;
  -webkit-transition: background-color .20s ease-out;
  -moz-transition: background-color .20s ease-out;
  -o-transition: background-color .20s ease-out;
  transition: background-color .20s ease-out; }
  a.artist-name:hover {
    background-color: #c652b4;
    color: #fff; }

#main .poster-text {
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.8em;
  color: #9d9d9c; }

#artists .artists-list {
  font-size: 0.8em;
  margin-bottom: 70px; }
  #artists .artists-list li {
    margin-right: 10px; }
#artists h4 {
  font-weight: 700;
  margin-bottom: 20px; }
#artists .one-artist {
  margin-bottom: 50px; }

#exhibition-info {
  font-size: 1.4em;
  line-height: 1.7em; }

ul.group-info-text li {
  list-style-type: square;
  line-height: 2em;
  font-size: 1.2em; }

.copyright-text {
  margin-top: 40px; }

/*# sourceMappingURL=style.css.map */
