/**
 *Colors
 */
$white: #fff;
$gray-l1: #ebefef;
$m-gray: #c1c5c7;
$dark-gray: #525156;
$black: #363A3C;

$mint-0: #7AE4DB;


/**
 *Variables
 */
$background-color-base: #F6F7F7;
$font-size-base: 16px;
$text-color: $dark-gray;
$border-radius-base: 2px;
$border-radius-lg: 6px;
