<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Jisun park, UI designer</title>
  <meta name="description" content="Helloworld">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="canonical" href="http://localhost:4000/">
  <link rel="alternate" type="application/rss+xml" title="Jisun park" href="/feed.xml">
</head>


<body>
  <header class="site-header" role="banner">
    <div class="wrapper">
      <a class="site-title" href="/">Jisun park</a>
      <p>
        Product designer at <a href="http://spoqa.com" target="_blank">SPOQA</a>
        <br />
        jisun89park@gmail.com
      </p>
      <div class="link-box text-center">
        <h3>You can see my works from</h3>
        <ul class="">
          <li>
            <a href="https://github.com/Jessicajisun" target="_blank">Dribbble</a>
          </li>
          <li>
            <a href="https://github.com/Jessicajisun" target="_blank">Behance</a>
          </li>
          <li>
            <a href="https://github.com/Jessicajisun" target="_blank">Github</a>
          </li>
          <li>
            <a href="https://github.com/Jessicajisun" target="_blank">Medium</a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <main class="page-content" aria-label="Content">
    <div class="content">
      {{ content }}
    </div>
  </main>

</body>

</html>
